#mainText {
  height: 110%;
  background-color: RGB(0,0,0,0);
}

body {
  background-image: none;
  background-color: RGBA(196,245,255,0.9) !important;
}

#mainText table {
  margin-left: 50px;
}

#mainText img {
  width: 100%;
}

#mainText #firstColumn {
  width: 40%;
}

#mainText p{
  font-size: 30px;
}
